/*body {
  margin: 0;
  height: 100vh;
  background-image: url("nature.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  background: url("nature.jpg") no-repeat center / cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Login Card */
.login-box {
  width: 350px;
  padding: 30px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  color: #fff;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.login-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-box input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
  outline: none;
}

.options {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 10px 0;
}

.options a {
  color: #fff;
  text-decoration: none;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #6c63ff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: #554ee8;
}

.signup {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.signup a {
  color: #fff;
  font-weight: bold;
}
.login-box{
  transition-duration: 2ms;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.login-box{
    padding: 30px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);

    /* Animation */
    animation: fadeSlide 0.8s ease;
}

@keyframes fadeSlide{
    from{
        opacity: 0;
        transform: translateY(30px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.login-box input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: 0.3s;
}

.login-box input:focus{
    border-color: #007bff;
    transform: scale(1.03);
}
button{
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background: #0056b3;
    transform: translateY(-2px);
}
a{
    text-decoration: none;
    color: #007bff;
    transition: 0.3s;
}

a:hover{
    color: #0056b3;
    transform: scale(1.05);
}
.login-box:hover{
    transform: translateY(-5px);
    transition: 0.3s;
}
